.box{
    height: 40px;
    width: 40px;
    display:inline-block;
    background-color:lightskyblue;
}

.sky{
    background-color: lightskyblue;
}

.cloud{
    background-color: white;
}

.leaf{
    background-image: url("../images/leaf.jpg");
    background-size: cover;
}

.grass{
    background-image: url("../images/grass.png");
    background-size: cover;
}

.dirt{
    background-image: url("../images/dirt.png");
    background-size: cover;
}

.rock{
    background-image: url("../images/rock.png");
    background-size: cover;
}

.tree{
    background-image: url("../images/tree.png");
    background-size: cover;
}

.row{
    margin-top:-8px;
}


.tool {
    padding: 2%;
    height: 80px;
    width: 80px;
    border: 3px solid deepskyblue;
}

.errorClick{
    border:3px solid red;
}
#toolSet {
    margin-top: -633px;
    margin-left: 90%;
}

#axe {
    background-image: url("../images/axe.png");
    background-size: cover;

}

#pick {
    background-image: url("../images/pickaxe.png");
    background-size: cover;

}

#shovel {
    background-image: url("../images/shovel.png");
    background-size: cover;

}

#saved {
    padding: 2%;
    height: 80px;
    width: 80px;
    border: 3px solid deepskyblue;
}