.box{
    height: 40px;
    width: 40px;
}

.sky{
    background-color: lightskyblue;
}

.cloud{
    background-color: white;
}

.leaf{
    background-image: url("../images/leaf.jpg");
    background-size: cover;
}

.grass{
    background-image: url("../images/grass.png");
    background-size: cover;
}

.dirt{
    background-image: url("../images/dirt.png");
    background-size: cover;
}

.rock{
    background-image: url("../images/rock.png");
    background-size: cover;
}

.tree{
    background-image: url("../images/tree.png");
    background-size: cover;
}

.row{
    margin-top:-8px;
}

.box{
    display:inline-block;
}